.container-box {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 15px;
}

.column {
  float: left;
  ul {
    border: 1px solid black;
  }
}

.row {
  width: 100%;
}

.lg-1 {
  width: 8.33333333%;
}

.lg-2 {
  width: 16.66666667%;
}

.lg-3 {
  width: 25%;
}

.lg-4 {
  width: 33.33333333%;
}

.lg-5 {
  width: 41.66666667%;
}

.lg-6 {
  width: 50%;
}

.lg-7 {
  width: 58.33333333%;
}

.lg-8 {
  width: 66.66666667%;
}

.lg-9 {
  width: 75%;
}

.lg-10 {
  width: 83.33333333%;
}

.lg-11 {
  width: 91.66666667%;
}

.lg-12 {
  width: 100%;
}

@media(max-width:425px) {
  .xs-1 {
    width: 8.33333333%;
  }
  .xs-2 {
    width: 16.66666667%;
  }
  .xs-3 {
    width: 25%;
  }
  .xs-4 {
    width: 33.33333333%;
  }
  .xs-5 {
    width: 41.66666667%;
  }
  .xs-6 {
    width: 50%;
  }
  .xs-7 {
    width: 58.33333333%;
  }
  .xs-8 {
    width: 66.66666667%;
  }
  .xs-9 {
    width: 75%;
  }
  .xs-10 {
    width: 83.33333333%;
  }
  .xs-11 {
    width: 91.66666667%;
  }
  .sm-12 {
    width: 100%;
  }
}

@media( max-width:769px) {
  .sm-1 {
    width: 8.33333333%;
  }
  .sm-2 {
    width: 16.66666667%;
  }
  .sm-3 {
    width: 25%;
  }
  .sm-4 {
    width: 33.33333333%;
  }
  .sm-5 {
    width: 41.66666667%;
  }
  .sm-6 {
    width: 50%;
  }
  .sm-7 {
    width: 58.33333333%;
  }
  .sm-8 {
    width: 66.66666667%;
  }
  .sm-9 {
    width: 75%;
  }
  .sm-10 {
    width: 83.33333333%;
  }
  .sm-11 {
    width: 91.66666667%;
  }
  .sm-12 {
    width: 100%;
  }
}

@media( max-width:1025px) {
  .md-1 {
    width: 8.33333333%;
  }
  .md-2 {
    width: 16.66666667%;
  }
  .md-3 {
    width: 25%;
  }
  .md-4 {
    width: 33.33333333%;
  }
  .md-5 {
    width: 41.66666667%;
  }
  .md-6 {
    width: 50%;
  }
  .md-7 {
    width: 58.33333333%;
  }
  .md-8 {
    width: 66.66666667%;
  }
  .md-9 {
    width: 75%;
  }
  .md-10 {
    width: 83.33333333%;
  }
  .md-11 {
    width: 91.66666667%;
  }
  .md-12 {
    width: 100%;
  }
}

.overlayed-box {
  position: absolute;
  background: white;
  border: 1px solid black;
  height: 100%;
  top: 0px;
  width: 600px;
  right: -30%;
  padding: 20px;
  opacity: 0;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.toggle {
  right: 0% !important;
  opacity: 1;
}

.header {
  background: #333545;
  .searchbox {
    width: 80%;
    margin: 0px auto;
    display: block;
    border-radius: 6px;
    border: 0px;
    padding: 8px 16px;
    font-size: 18px;
    text-transform: capitalize;
  }
}

.card {
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid gray;
  cursor: pointer;
  img {
    width: 100px;
    height: 60px;
    border-radius: 4px;
    margin-right: 10px;
  }
  p {
    font-size: 12px;
  }
  div {
    padding-top: 10px;
  }
  button{
    
  }
}

p {
  margin: 0px;
}